<a href="https://colab.research.google.com/github/grazielafranzoni1210/Aula4_JornadaPythonFaixaPreta_ByLearn/blob/main/Aula4_JornadaPythonFaixaPreta_ByLearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import math

numero = 25
raiz_quadrada = math.sqrt(numero)
ao_cubo = math.pow(raiz_quadrada, 3)

In [12]:
# importando o módulo Requests e Json
import requests
import json

# definindo nossa Payload
payload = {'name': 'Graziela Franzoni', 'job': 'qatester'}

# enviando nossa Payload via POST
response = requests.post('https://reqres.in/api/users', data = json.dumps(payload))

# vamos verifica ro que enviamos
print(response.request.body)
# output: {'name': 'Graziela Franzoni', 'job': 'qatester'}

# vamos verificar o código de resposta
print(response.status_code)
# output: 201

# vamos verificar a resposta
print(response.text)
# output: {'id': '683', 'createdAt': '2020-09-03T12:29:07.721Z'}

{"name": "Graziela Franzoni", "job": "qatester"}
201
{"id":"772","createdAt":"2021-05-12T22:47:33.920Z"}

In [ ]:
import re

texto = 'Graziela Franzoni'
padrao = r'\w+\s\w+'

regex = re.fullmatch(padrao, texto)

if regex:
  print('Valido')
else:
  print('Inválido')

Valido

In [4]:
import unittest

class TestStringMethods(unittest.TestCase):

  def setUp(self):
    pass

  # Return True if the string contains 4 a.
  def test_string_a(self):
    self.assertEqual('a'*4, 'aaaa')

  # Return True if the string is in upper case.
  def test_uper(self):
    self.assertEqual('foo'.upper(), 'FOO')

  # Return True if the string is in upper case.
  # else return False.
  def test_isupper(self):
    self.assertTrue('FOO',isupper())
    self.assertFalse('Foo',isupper())

In [16]:
import numpy as np

# criar matrizes randômicas
x1 = np.random.randint(10, size=6) # matriz de uma dimensão
x2 = np.random.randint(10, size=(3, 4)) # matriz bidimensional
x3 = np.random.randint(10, size=(3, 4, 5)) # matriz tridimensional

print('Dimensões do x3: ', x3.ndim)
print('Shape (formato) do x3', x3.shape)
print('Tamanho do x3', x3.size)

print('Primeira coluna do x2:', x2[:, 0])
print('Primeira linha do x2:', x2[0,:])

Dimensões do x3:  3
Shape (formato) do x3 (3, 4, 5)
Tamanho do x3 60
Primeira coluna do x2: [1 0 8]
Primeira linha do x2: [1 7 3 7]

In [26]:
import re

texto = 'Venha se tornar um ByLearner'
padrao = r'\bByLearn\w*\b'

resultado = re.search(padrao, texto)

if resultado:
  print('Encontramos o padrão no texto, entre os índices: '+ f'{resultado.start()} e {resultado.end()}')
else:
  print('Não encontramos o padrão no texto')

Encontramos o padrão no texto, entre os índices: 19 e 28

In [29]:
import re

texto = 'O rato roeu a roupa do rei de Roma.'
padrao = r'rato|roupa|rei'

ocorrencias = re.finditer(padrao, texto)

for ocorrencia in ocorrencias:
  print(f'Encontrei: {ocorrencia.group()} entre os índices {ocorrencia.span()}')

Encontrei: rato entre os índices (2, 6)
Encontrei: roupa entre os índices (14, 19)
Encontrei: rei entre os índices (23, 26)

In [31]:
import re

texto = 'O rato roeu a roupa do rei de Roma.'
padrao = r'[rR](w*)'
substituicao = r'g\1'

novo_texto = re.sub(padrao, substituicao, texto)
print(novo_texto)

O gato goeu a goupa do gei de goma.

In [33]:
import re

texto = 'Um dois três quatro cinco'
padrao = r'quatro'
substituicao = r'três'

novo_texto = re.sub(padrao, substituicao, texto, 1)
print(novo_texto)

Um dois três três cinco

In [34]:
import sqlite3

arquivo_db = 'bylearn.db'
conexao = sqlite3.connect(arquivo_db)

In [36]:
import sqlite3

sql_criar_tabela = """ CREATE TABLE IF NOT EXISTS alunos (id integer PRIMARY KEY AUTOINCREMENT, nome text NOT NULL, nota integer NOT NULL); """

conexao = sqlite3.connect('bylearn.db')
cursor = conexao.cursor()
cursor.execute(sql_criar_tabela)

In [37]:
import sqlite3

sql_inserir_aluna_graziela = "INSERT INTO alunos (nome, nota) VALUES ('Graziela', 10)"
sql_inserir_aluna_felipe = "INSERT INTO alunos (nome, nota) VALUES ('Felipe', 7)"

conexao = sqlite3.connect('bylearn.db')
cursor = conexao.cursor()

cursor.execute(sql_inserir_aluna_graziela)
cursor.execute(sql_inserir_aluna_felipe)

conexao.commit()

In [38]:
import sqlite3

sql_busca_alunos = "SELECT * FROM alunos"

conexao = sqlite3.connect('bylearn.db')
cursor = conexao.cursor()

cursor.execute(sql_busca_alunos)
alunos = cursor.fetchall()

for aluno in alunos:
  print('O aluno', aluno[1], 'tirou nota', aluno[2])

O aluno Graziela tirou nota 10
O aluno Felipe tirou nota 7